spring:
  datasource:
    url: jdbc:h2:mem:cinema;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate: 
      ddl-auto: none   # χρησιμοποιούμε Flyway
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

flyway:
  enabled: true
  locations: classpath:db/migration

jwt:
  secret: "super-secret-key-123456789"
  expiration-seconds: 36000   # 10 ώρες

server:
  port: 8080
